{% for block in section.blocks %}
    {% case block.type %}

        {% when 'article_title' %}
            <h1>{{article.title}}</h1>
        {% when 'article_author' %}
            {% if section.settings.enable_author %}
                <small>{{article.author}}</small>
            {% endif %}
        {% when 'article_date' %}
            {% if section.settings.enable_date %}
                <time datetime="{{article.published_at | date:'%Y-%m-%d'}}">{{article.published_at | date:'%Y-%m-%d'}}</time>
            {% endif %}
        {% when 'article_thumbnail' %}
            <img src="{{article.image | img_url:'large'}}" alt="Article Image">
        {% when 'article_details' %}
            <div>{{article.content}}</div>
        {% else %}
            
    {% endcase %}
{% endfor %}

{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_date",
            "default": true,
            "label": "Display Publish Date"
        }
    ],
    "blocks": [
        {
            "type": "article_title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "article_author",
            "name": "Author",
            "limit": 1
        },
        {
            "type": "article_date",
            "name": "Published Date",
            "limit": 1
        },
        {
            "type": "article_thumbnail",
            "name": "Thumbnail",
            "limit": 1
        },
        {
            "type": "article_details",
            "name": "Content",
            "limit": 1
        }
    ]
}
{% endschema %}